.form-container {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.card-class {
    width:620px;
}

.form-card,
.form-container input,
.form-btn-container button,
.border-btn {
    border-radius:48px;
}

.game-card {
    border-radius: 20px;
    height: 410px;
}

.form-card,
.game-card {
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.card-image {
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    height:250px;
}

.card-text {
    height: 150px;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.card-text::-webkit-scrollbar {
    display: none;
}

.form-btn-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.form-btn {
    min-width: 120px;
}

.custom-card-body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}