#canvas {
    position: relative;
    border: 1px solid #c9c9c9;
    margin-top: 25px;
    width: 100%;
    height: 480px;
    overflow: hidden;
    cursor: pointer;
}

#square {
    display: none;
    position: relative;
    height: 100px;
    width: 100px;
    left: 50px;
    top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25), top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

#userinfo, #msgboard, #msgarea {
    display: none;
}

#msglog {
    resize: none;
}

#bottom {
    padding-top: 20px;
}

.game-play-btn,
.username-input,
.message-textarea {
    border-radius:48px;
}