@import "./layout/navbar.scss";
@import "./layout/footer.scss";
@import "./card-style.scss";
@import "./game-play.scss";

.main-container {
   padding-top:150px;
   padding-bottom: 120px;
}

.App-header {
    font-size: 14px;
}

.App-header button {
    border-radius: 40px;
    height: 38px;
    font-size: 14px;
}

.App-header input,
.App-header input::placeholder {
    font-size: 14px;
}

.App-header input {
    border-radius: 40px;
}

.custom-link,
.custom-link:hover {
    text-decoration: none;
    color: black
}

.custom-brand-link,
.custom-brand-link:hover,
.custom-brand-link:focus {
    text-decoration: none;
    color:#FFF;
    font-weight: 500;
}

.loader-container {
    height:60vh;
}