body {
    margin:0;
    padding:0;
}

.nav {
    margin-bottom:40px;
}

.games {
    padding:60px 0;
}

input::placeholder {
    color:#C0C0C0 !important;
}

.team-identificate {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom:20px;
}

.match-status {
    margin-bottom:30px;
}
.buttons {
    padding:10px;
}

.form {
    display:inline-block;
}

