    
    .menu-btn:hover,
    .menu-btn:focus {
        text-decoration:none;
        color:#fbd137;
    }

    .list-item a {
        color:#fbd137;
        font-weight:500;
        font-size:16px;     
        text-decoration:none;
    }

    .nav-header {
        height:12%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:15px 3%;       
        border-bottom:1px solid #202121;
        transition: 0.5s ease 0s;
        
    }

    .nav-header-background-main {       
        background-color:#463681;
    }

    .nav-header-background-second {
      background-color:rgba(0,0,0,0.59);
                
    }

    .contact-header-background {
        background-color:rgba(0,0,0,0.85);
        border-bottom:1px solid #fff;
    }

    .logo {
        width:150px;
        cursor:pointer;
        margin:15px 0 15px 15%;     
    }

    .nav-links {
        list-style-type:none;
    }

    .nav-links li a {
        transition: all 0.3s ease 0s;
    }
    .nav-links li a:hover{
        color:#fbd137;
    }

    .button {
        font-weight:500;
        font-size:14px;     
        text-decoration:none;
        padding: 9px 15px; 
        font-weight:bold; 
        border:none;
        border-radius:4px;
        cursor:pointer;        
        box-shadow: -4px 9px 14px -8px rgba(0,0,0,0.59);
        outline:none;
    }

    .button:hover {
        text-decoration:none;
    }

    .yellow-btn,
    .yellow-btn:hover,
    .yellow-btn:focus {
        background-color:#fbd137;
        color:#000;
        text-decoration:none;
    } 
    

    .black-btn,
    .black-btn:hover,
    .black-btn:focus {
        background-color:#000;
        color:#fbd137;
        text-decoration:none;
        margin-left:10px;
    }

    ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    } 

    .created-by-text-responsive {
        display:none;
    }   

     


@media only screen and (max-width: 768px) {

    .button {        
        font-size: 11px;
        padding: 10px 8px;        
    }
    
    .logo {
        margin:15px 0 15px 0;
    }
        
}


@media only screen and (max-width: 600px) {
    .nav-header {
        height:auto;
    }
    
    .logo {
        margin: 10px 0 10px 22%;
    }

    .button {
        font-size:10px;
    }
    
    .nav-links{
        padding-left:15px;
    }
    
    .nav-header {
        flex-wrap:wrap;
        justify-content:flex-start;
        border-bottom:none;
    }

    .cta {
        width:100%;
        padding:15px;
        text-align:center;
            
    }

    .created-by-text-responsive {
        display:block;
        font-size:9px;
        width:100%;
        padding:15px;       
        text-align:center;
    }

    .underline {
        font-size: 10px;
    }        
}

@media only screen and (max-width: 425px) {
    .logo {
        margin:10px 0 10px 17%;
    }

}