body {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif; 
    background-color:#463681;
}

textarea {
    resize: none !important;
}

.form-container {
    margin-top: 100px;
}

.background-img {
    background-image: url("../images/forms-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position:center;   
    border-top-left-radius:15px;    
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    padding:0;  
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);  
    height:670px; 
    margin:30px 0;
}

.inputs {
    padding:0;
}

.form-container {
    height:63em;
    display:flex;
    justify-content:center;
    align-items:center;   
    padding:25px;
}

.form-register {
    color:#fbd137;;
    padding:20px;     
    border-radius:15px;
    margin-left:-50px;
    background-color:rgba(0,0,0,0.85);
    border:3px solid #fff;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.85);
}

.input { 
    color:#000; 
    border:2px solid #fff;  
    border-radius:5px;
    background-color:#fff;
}

.register-button,
.register-button:hover,
.register-button:focus,
.register-button:active {
    font-weight:bold;
    background-color:#fbd137;
    border:none;
    color:#000;    
}

.title {
    color:#fbd137;
    font-weight:bold;
    margin:30px 0;
    padding: 10px;    
}

.home-icon,
.home-icon:hover,
.home-icon:focus,
.home-icon:visited {
    color:#fbd137;
    cursor:pointer;  
    text-decoration:none; 
}

.form-logo {    
    width:300px;
    padding:20px;
}

.dark-bg {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;    
    height:100%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background-color:rgba(0,0,0,0.3);
}

.footer {
    top:1em;
    bottom:0;
    padding:20px;
    color:#fff;
}

.click,
.click:hover,
.click:focus,
.click:visited {
    text-decoration:underline;
    color:#fbd137;
}

.my-alert {
    background-color:rgba(0,0,0,0.65);
    border:2px solid #fff;
    color:#fbd137;
    margin-top:25px;
}

@media only screen and (max-width: 767px) {
    .form-logo {
        width:150px;
        padding:15px;
    }

    .form-register {
        margin-left:0;
        border-bottom-left-radius:0;
    }
        
}

@media only screen and (max-width: 425px) {
    .form-logo {
        width:130px;
        padding:15px;
    }

    .dark-bg{
        justify-content:space-between;
        border-bottom-right-radius:0;
    }

    .title {
        font-size:25px;
    }

    .background-img {
        margin:45px 0;
        height:500px;
        border-bottom-right-radius:0;
    }

    .form-container {
        padding:15px;
    }

    .form-register {
        padding:15px;
        border-radius:15px;
        margin-left:0;
    }

    .my-alert {
        margin-top:15px;
    }
}