.gray-section-game { 
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;  
    position:relative;
    margin:5px;
    padding:25px 20px 0 20px;
    border-radius:10px;
    background-color:#ebebeb;
    z-index:1;
}

.section-font {
    min-height:95px;
    font-weight:bold;
    font-size:16px;
}

#single-page-pic-container {
    height:80vh;
    background-image:url("../images/single-page.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;  
}

#skew-white {
    position: absolute;
    transform: skewY(-5deg);
    height: 100%;
    top: 65vh;
    bottom:0;   
    background-color: #fff;
    width: 100%;       
}

.game-title {
    margin:20px 10px 10px 10px;
}

.indent {
    margin-left: 40px !important;
}
.paragraph {
    position:relative;
    z-index:20;    
    
}

.paragraph >h3 {
    margin:20px 10px 10px 10px;
    font-weight:bold;
} 

.paragraph > p {
    margin:0 10px;
}

hr {
    height:2px;
    border:none ;
    background-color: #e5e5e5;
}

#skew-purple-bottom {  
    margin-top:-180px; 
    position: absolute;
    transform: skewY(-5deg);
    height:100%;   
    top:0;   
    background-color: #463681;
    width: 100%;  
     
}

#bottom-cut {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width:100%;
    bottom:0;
    height:50vh;   
    box-sizing:border-box;
    background-color:#463681;    
}

#content-container {
    margin-bottom:300px;
}

.game-list{
    list-style-type: disc;
    text-indent:30px;
}

@media only screen and (max-width: 1024px) and (min-width:992px){
    .section-font {
        min-height:115px;
    }
}