body {   
   margin:0;
   padding:0;
}

.body-contact {
    background-image:url("../images/contact-page.jpg") ;
    background-size:cover;
    background-position:center;
}

.body-about {
    background-image:url("../images/about-page.jpg");
    background-size:cover;
    background-position:center;
}

.body-admin {
    background-color:#463581;
    color:#fff;
}

.admin-logo {
    width:250px;
    padding:30px 0;
    cursor:pointer;
}

table {
    font-size:16px !important;
}

.admin-table {
    padding-top:40px;    
}

tbody > tr {
    color:#463681;
}

.title {
    color:#fbd137;
}

.title-contact {
    color:#ebebeb;
}

.faded { 
    font-size:16px;
    color:#fbd137;
    padding:210px 20px 20px 20px;    
    min-height:55.1em;
}

.colored {
    color:#ebebeb;
    font-weight:bold;
}

p > a,
p > a:hover,
p > a:focus,
p > a:visited {
    text-decoration:none;    
    color:#fbd137;
}

a {
    word-wrap: break-word;
}

p > .click,
p > .click:hover,
p > .click:focus,
p > .click:visited {
    text-decoration:underline;
    color:#fbd137 !important;
}

.box {
    width:100%;
    border-radius:15px;
    border:3px solid #fff;
    background-color:rgba(0,0,0,0.85);
    padding:20px;
    color:#fff;   
}

.contact-box {
    padding:20px;
    border-radius:15px;
    background-color:rgba(0,0,0,0.85);
    border:3px solid #fff;
}

.contact-elements {
    padding-bottom:25px;
}

.contact-section {
    padding:20px 0; 
    border-bottom: 1px solid #ebebeb;
}

.text-size {
    font-size:16px;
    color:#ebebeb;
}

.fas {
    color:#fbd137;
}

textarea {
    resize:none;
}

.custom-contact-btn {
    color:#000;
    background-color:#fbd137;
}

.my-input {
    color:#ebebeb;
    background-color:transparent;
}

.footer {
    top:2em;
    bottom:0;
    padding:20px;
    color:#fff;
}

.my-alert {
    background-color:rgba(0,0,0,0.85);
    border:2px solid #fff;
    color:#fbd137;
}


@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}
