* {
    box-sizing:border-box;
    margin:0;
    padding:0;    
    font-family: 'Ubuntu', sans-serif;    
}

footer {    
    margin-top:-2px;
    display:flex;       
    flex-flow: wrap;
    align-items:center;
    justify-content:center;
    background-color: #463681;
    border-top:3px solid #202121;     
    padding:20px;   
    color:#fff;    
}

#first-footer-list a:hover,
#first-footer-list a:focus {
    color:#fbd137;
}

#second-footer-list a:hover,
#second-footer-list a:focus {
    color:#fff;
}

/* background css*/

#cut1 {
    position:absolute;
    width:100%;
    height:750px;
    z-index:-200;
    box-sizing:border-box;    
    top: 0px;
    margin: auto;
    background-color:#463681;
}

#cut1:after {    
    position:absolute;
    width:100%;
    height:100%;
    content:'';
    background: inherit;
    z-index:-200;
    top:0;
    right:0;
    bottom:0;
    left:0;
    transform-origin: top right;
    transform: skewY(-7.9deg);
}

#cut2 {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width:100%;
    bottom:0;
    height:70vh;    
    box-sizing:border-box;
    background-color:#463681;    
}

#cut2-purple {
    margin-top:-210px; 
    position: absolute;
    transform: skewY(-7.9deg);
    height:100%;   
    top:0;   
    background-color: #463681;
    width: 100%;  
}

#top-container {  
    position:relative;  
    top: 108px;    
    margin: auto;
    width: 100%;
}

#top-row {
    min-height:1200px;
}

/* sidebar css */

li {
    list-style:none;
}

.sidebar {
    position:fixed;
    left:0;
    width:250px;
    height:100%;
    background-color:#000;
    color:#fff;
    z-index:3;    
}

.side-img {
    max-width:110px;
}

.close-img {
    width:18px;
}

.my-modal {
    border-radius:0;
    padding:0;
    margin:0;
    height:100%;
    width:320px;
}

.my-no-data-modal,
.my-email-modal {
    top:35vh;
    text-align:center;
    color:#463681;
}
 
.modal-input {
    padding:10px;
    border:2px solid #463681;
    border-radius:5px;
    color:#463681;
    outline:none;        
}

#validate {
    display:none;
}

.btn-custom,
.btn-custom:focus,
.btn-custom:hover {
    background-color:#463681;
    color:#fff;
    font-weight:bold;
}

.side-header {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    border-bottom:none;
    padding:15px 4%;
    height:100px;
}

.my-email-modal-header,
.no-data-modal-header {
    border-bottom:none;
}

.my-email-modal-footer,
.no-data-modal-footer {
    border-top:none;
}

.close-button {
    font-size:16px;
    border:none;
    background-color:transparent;
    padding:5px;
    font-weight:bold;
}

.close-button:hover {
    outline:none !important;
}

.side-list {
    padding:0;
    margin:o;
}

.list-group-item {
    border-top:0;
    border-radius:0;
    border-bottom:1px solid #ebebeb;
    margin:0;
}

.list-group-item:last-child,
.list-group-item:first-child {
    border-radius:0;
}

.list-group .yellow-line {
    color:#fbd137;
    font-weight:bold;
}

.list-group .yellow-line:focus,
.list-group .yellow-line:hover {
    color:#fbd137;
    font-weight:bold;
}

.list-group .black-line:focus,
.list-group .black-line:hover {
    color:#000;
    font-weight:bold;
}

.list-group .black-line {
    font-weight:bold;
    color:#000;
}

/* main-container */

.single-page-smalltext {
    font-size: 14px !important;
}

.created-by-text {
    width:100%;
    padding:25px 0 30px 0;
    text-align:center;   
}

.underline {
    text-decoration:underline;    
}

.underline,
.underline:hover,
.underline:visited {
    color:#fbd137;        
}

.test {
    height:200vh;
}

.white {
    color:#fff;
}

.future-title {
    font-weight:bold;
}


.category-btn {
    width:178px;   
}

.duration-btn {
    width:117px;
    
}

.group-size-btn {
    width:50px;    
}

.search-category-btn { 
    width:75px;   
    padding:4px 10px;
    margin:2px;
    font-size:13px;
    border:1px solid #ff0000;
    background-color:#f3f3f3;   
    font-weight:bold;
    color:#000;
}

.category-btn,
.duration-btn,
.group-size-btn {
    padding:4px;
    margin:2px;
    border:1px solid #463681;
    background-color:#fff;
    color:#463681;
    font-weight:bold;
}

.category-active,
.duration-active,
.group-size-active {
    background-color:#463681;
    color:#fff;
    outline:none;
}

.category-btn:focus,
.duration-btn:focus,
.group-size-btn:focus,
.category-active {
    outline:none;
}

.filter-custom-btn,
.filter-custom-btn:hover,
.filter-custom-btn:active,
.filter-custom-btn:focus {
    background-color:transparent;
    font-size:18px;
    color:#fbd137;
    font-weight:bold;
    margin:0 20px 20px 20px;
    outline:none !important;
  
}

.search-category-btn:focus {
    background-color:#ff0000;
    color:#fff;
    outline:none;
}
.footer-categories-section {
    z-index:30000;
}
.categories-section {
    margin:30px 5px 0 5px;
    background-color:#f3f3f3;
    padding:10px;
}
.cards {
    margin-top:30px;
}

.group-section-title {
    text-align:left;
    color:#000;
    margin-left:2px;
}

#game-card {    
    z-index:20;
}

.big-thumbnail-picture {    
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    height:320px !important;
    
}   

.small-thumbnail-picture {
    width:60px;
    background-color:#32363b;
    border-radius:50%;   
    text-align:center;
}

#my-thumbnail {  
    box-shadow: 0px 7px 12px 2px rgba(0,0,0,0.16) !important;
    padding:0;
    border:0;   
    border-radius:10px;   
    height:540px;    
}

.title-div {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.time {
    display:flex;
    align-items:flex-start;    
    font-weight:bold;
    margin:30px 0 40px 0;
}

.aqua {
    color:#00c7d3;
}

.black-link, 
.black-link:hover,
.black-link:focus {
    color:#333;
    text-decoration:none;
}

.thumbnail-caption {
    padding:15px !important;
}

#time-duration {
    font-size:18px;
}

.text-muted {
    font-size:14px;
}

.thumbnail-label {
   
    font-size:18px;
    font-weight:bold;
}

.title-div p {
    font-size:14px !important;
}

.logo-bottom {
    width:150px;
}

.bottom-bar-element li {
    display:inline-block;
    margin:10px;
}

.footer-list li {
    display:inline-block;
    margin:10px;    
}

.footer-list li a:hover,
.footer-list li a:focus {
    font-style:none;
    text-decoration:none;    
}

.footer-icon {
    color:#fbd137;
}

.white-list {   
    color:#fff;
    font-weight:bold;
}

.pointer {
    cursor: pointer;
}

.bottom-logo {
    width:160px;
    margin:0;
    padding:0;
    cursor:pointer;
}

.footer-filter {
    display:none;
}

@media only screen and (max-width: 1200px) and (min-width:769px) {
   
    .future-title {
        font-size:28px;            
    }

    .paragraph-text {
        font-size:12px;
    }

    .group-section-title {
        text-align:left;
        margin-left:4px;
    }

    .category-container {
        text-align:left;
       
    }   
    
    .category-btn {
        width:178px;
        font-size:12px;
        padding:4px;
        margin:4px;
    }

    .duration-btn {
        font-size:12px;
        width:70px;
        padding:4px;
        margin:4px;

    }
    
    .group-size-btn {
        width:56px;
        font-size:12px;
        padding:4px;
        margin:4px;
    }

    .search-category-btn {
        font-size:12px;
        padding:4px;      
    }
   
    #filter-btn {
        text-align:center;            
    }

    #my-thumbnail {      
        height:540px;    
    }    
  
    .footer-filter {
        display:none;
    }
}

@media only screen and (max-width: 991px) {

    .categories-section {              
        text-align:center;
        padding:15px;
    }

    .group-size-btn, 
    .duration-btn{
        width:90px;
    }
    .category-container {
        text-align:center;
    }

    .group-section-title {
        text-align:center;
    }
    
    footer {
        border-top: none;
    }

    .footer-list li {
        margin:30px;    
    }

    #footer-4 {
        order: -2;        
    }
    
    #footer-2 {
        order:-1;
    }

    .footer-list li {
        margin:18px;    
    }
}

@media only screen and (max-width:768px) {
    
    #cut2 {
        height:40vh;
    }

    #cut2-purple {
        margin-top:-70px;         
    }

    .text-muted {
        font-size:10px;
    }

    .my-modal {
        width:250px;
    }

    .future-title {
        font-size:25px;
    }

    .assesment { 
        margin-bottom:30px;
    }

    .paragraph-text {
        font-size:10px;
    }

    .categories-section {
        display:none;
        padding:10px;
        text-align:center;
    }

    .group-section-title {
        text-align:center;
        font-size:12px;
    }

    .duration-btn {
        width:90px;
    }

    .group-size-btn {
        width:85px;
    }

    .category-btn,
    .duration-btn,
    .group-size-btn{        
        font-size:10px;
        padding:4px;
        margin:2dpx;
    }

    .search-category-btn {
        padding:4px;
        font-size:11px;
    }

    #search-btn-whitespace {
        display:none;
    }

    #filter-btn {
        text-align:center;
        padding:4px;
    } 

    .big-thumbnail-picture {
        display:none !important;
    }

    .small-thumbnail-picture {
        width:80px;        
    }  

    #my-thumbnail {      
        height:220px;    
    }

    .bottom-logo {
        width:130px;
    }

    footer {
        border-top:none;
    }

  
    #footer-1 {
        order:-5;
    }

    #footer-4 {
        order: -4;        
    }

    #footer-2 {        
        order:-3;
    }  

    .footer-list li {
        margin:18px;    
    }

    .footer-list li {
        margin:30px;    
    }

    .footer-filter {
        display:block;
    }
    
}

@media only screen and (max-width: 600px) {
    
    .my-modal {
        width:250px;
    }

    .text-muted {
        font-size:8px;
    }


    .categories-section {
        display:none;
        text-align:center;
        padding:5px;
    }

    .group-section-title {
        font-size:10px;
    }

    .group-size-btn {
        width:75px;
    }

    .created-bt-text {
        display:none;
    }

    .category-btn,
    .duration-btn,
    .group-size-btn {
        font-size:8px;
        padding:4px;
        margin:2px;
    }
    
    #search-btn-whitespace {
        display:none;
    }

    .search-category-btn {        
        font-size:9px;
        padding:4px 8px;
        margin-top:5px;
    }  

    .big-thumbnail-picture {
        display:none !important;
    }
    
    .small-thumbnail-picture {
        width:60px;
    }  

    .bottom-logo {
        width:110px;
    }

    footer {
        border-top:none;
    }


    #footer-1 {
        order:-5;
    }

    #footer-4 {
        order: -4;        
    }

    #footer-2 {        
        order:-3;
    }  

    .footer-list li {
        margin:18px;    
    }

    .footer-list li {
        margin:25px;    
    }

    .footer-filter {
        display:block;
    }

}

@media only screen and (max-width: 400px) and (min-width:320px) {

    .created-by-text{
        display:none;
    }

    .my-modal {
        width:250px;
    }

    #top-container {
        top:180px;
    }   
    
    .group-size-btn {
        width:80px;
    }

    .categories-section {
        display:none;
    }

    .big-thumbnail-picture {
        display:none !important;
    }

    .small-thumbnail-picture {
        width:50px;
    }     

    .bottom-logo {       
        width:110px;
    }

    footer {        
        border-top:none;       
    }

    #footer-1 {
        order:-5;
    }

    #footer-4 {
        order: -4;        
    }

    #footer-2 {        
        order:-3;
    }  

    .footer-list li {
        margin:18px;    
    }

    .footer-filter {
        display:block;
    }
    #my-thumbnail {      
        height:170px;    
    }

    .time {
        margin:15px 0 0 0;
    }
}
 