#race {
	text-align: center;
	background-color: #242021;
}

h1, h2, h3 {
	color: 	#a2a2a2;
}

h3 { font-size: 25px; }

h2 { font-size: 35px; }

h1 { font-size: 50px; }

.buttons {
	margin:30px 0 40px 0;
}

.countdown-bg, 
.finished-bg {	
	position: absolute; 
	display: none; 
	width: 100%; 
	height: 100%; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8); 
	z-index: 2; 	
}

.countdown-bg > div {
	display:flex;
	position:relative;
	justify-content:center;
	align-items:center;
	height:100%;
	font-size:120px;
	color:#ffebf7;	
}

.my-btn,
.my-btn:focus,
.my-btn:visited,
.my-btn:hover {
	border-radius:5px;
	background-color:transparent;
	border:2px solid #fff;
	padding:5px 40px;
	color:#fff;
	font-size:18px;
	outline:none;
}

.my-btn:first-of-type {
	margin-right:15px;
}

.race-track {	
	position:relative;	
    background-size:contain;
	height:auto;	
	background-image:url("img/raceTrack.jpg");
	background-repeat:repeat-x;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:40px 0;	
	box-sizing:border-box;
}

.car {
	position: relative;
	width:300px;
	height:250px;
}

.car1 {
	color: #ffebf7;
	font-weight:bold;
}

.car2 {
	font-weight:bold;
	color: #ba0000;
}

.firstcar,
.firstrace {
	font-size:24px;
	color: #ffebf7;
	font-weight:900;
}

.secondcar,
.secondrace {
	font-size:24px;
	color: #ba0000;
	font-weight:900;
}

.results-paragraph {
	padding:15px;
	border:3px solid #ffebf7;
	border-top:none;
	color:#a2a2a2;
	font-size:18px;
}

.results-paragraph::first-letter {
	text-transform:capitalize;
}

.results-paragraph:first-of-type {
	border-top:3px solid#ffebf7;
}

.results-div {
	padding:15px;
	border:3px solid #ffebf7;	
	color:#a2a2a2;
	font-size:18px;
}

.results-div:first-of-type {
	border-bottom:none;
}

.results-container {
	margin-bottom:50px;
}

.previous-results {
	display:none;
}

.flag-div {
	display: flex; 
	justify-content:center;
	align-items:center;
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	z-index: 3; 
}

#finish {
	width:300px;
}

.show-previous {
	display:none;
}

@media only screen and (max-width: 800px) and (min-width:600px) {

	h3 { font-size: 18px;		
	}

	h2 { font-size: 21px;
	}

	h1 { font-size: 35px; 
	}

	.car {
		width:145px;
		height:120px;
	}

	.countdown-bg > div {
		font-size:80px !important;
	}

	.results-paragraph {
		padding:10px;	
		display:flex;
		justify-content: center;
		align-items:center;
		min-width:105px;
		min-height:140px;		
		font-size:13px;
	}

	.results-div {
		padding:11px;
		font-size:13px;
	}

	.firstcar,
	.firstrace,
	.secondrace,
	.secondcar {
		font-size:16px;
		font-weight:bold;
	}
	
	#finish {
		width:180px;
	}

	.my-btn,
	.my-btn:focus,
	.my-btn:visited,
	.my-btn:hover {		
		padding:5px 25px;		
		font-size:14px;
	}

	.my-btn:first-of-type {
		margin-right:10px;
	}
}	

@media only screen and (max-width:776px) and (min-width:600px) {
	
	.empty {
		margin-bottom:-9px;
	}
}
