body {
    scrollbar-width: thin;
    margin:0;
    padding:0;
    background-color:#f6f7fb !important; 
}

.logo-img {
    width:70px;
}

.btn-item {
    margin:0 60px;
}

.navbar {
    padding:0.2rem 3.5rem;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.36);    
}
.nav-btn,
.nav-btn:hover,
.nav-btn:focus,
.my-btn,
.my-btn:hover,
.my-btn:focus {
    background-color:#6269f5;
    outline:none;    
}

button,
button:focus,
button:visited,
button:hover {
    outline:none !important;
}

.modal-header {
    border-bottom:none;
}

.my-modal {
    background-color: #6269f5;
    color:#fff;
    border:none;
}

.email-btn {
    color:#000;
    background-color:#fff;
}

.email-modal-btn {
    margin:10px 0;
}

.email-input,
.modal-select {
    background-color:#4b57cd;    
    border:none;
    color:#fff !important;
}
.email-input::placeholder,
.modal-select::placeholder {
    color:#fff;
}
.email-input:focus,
.modal-select:focus {
    background-color:#4b57cd;   
    outline:none;  
}

.input-link:hover,
.input-link:visited,
.input-link:focus {
    text-decoration:none;    
}

.bottom {
    margin-bottom:30px;
}

.input-title {
    margin:20px 0;
}

.modal-body-container {
    margin-bottom:60px;
}
.modal-form {
    margin:15px 0;
}

.modal-row {
    margin-bottom:15px;
}

.input-container {
    border-radius:10px;
    padding:20px 20px 50px 20px;
    background-color:#6269f5;
    color:#fff;
    text-align:center;
    margin:auto !important; 
}
.margin-auto {
    margin:auto !important;
}

.margin-bottom {
    margin-bottom:50px;
}

.my-thumbnail {   
    background-color:#fff;
    border-radius:10px;
    padding:10px;   
    margin: 20px 0; 
}

.thumbnail-image {
    width:200px;
    height:200px;
}

.picture {
    padding:10px;
    margin-bottom:10px;
}

.img-thumbnail {
    border-radius:0;
    padding:0;
    border:none !important;
}

.message {
    background-color:#fff;
    padding:2px;
    border-radius:2px;
}

.description {
    overflow:auto;
    height:200px;
    border-bottom:1px solid silver;
}

.description::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.banner-scroll::-webkit-scrollbar,
.lection-scroll::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

.description::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
.banner-scroll::-webkit-scrollbar-track,
.lection-scroll::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.description::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.banner-scroll::-webkit-scrollbar-thumb,
.lection-scroll::-webkit-scrollbar-thumb {
    background-color:#fff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */    
}

.lection-scroll {
    max-height:150px;
    overflow-y:auto;
}

.error {
    margin-bottom:10px;
}

.success {
    margin-bottom:20px;
}

.justify-content-center {
    padding-top:80px;
    min-height:67.7vh;
}

.logout-btn {
    border:1px solid silver;
}

.linked > a {
    color: #000;
    text-decoration:none;
}

.bg-warning-color {
    background-color: #fce7b8;
    color:#ecbf77;
    padding:2px;
}

.my-card {
    margin:15px 0;
}

.blink {
    color:#6269f5;
}

.my-tabs {
    margin-bottom:35px;
}

.admin-buttons {
    padding: 10px 0;
}

.admin-modal {
    display:flex;
}

.modal-btn {
    margin:0 5px;
}

textarea {
    resize:none;
    overflow-y:auto;
}

.add-btn {
    margin-top:15px;
}

.banner-div {
    background-color:#f6f7fb;
    padding:6px 5px;
}

.banner-div > a > div {
    padding: 0 5px;
    color: #000;
    font-weight: bold;
    background-color: #fff; 
    width:75% !important;       
}
.banner-scroll {
    overflow-y:auto;
    max-height:110px;
}

.card-link-banner {
    display:flex;
    justify-content:space-around;
    align-items:center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* input[type="file"] {
    display:none;
} */

/* .categoryPicture {
    background-color:#6269f5;
    color:#fff;
    padding:5px;
    border-radius:5px;
}

.categoryPicture:hover {
    cursor:pointer;
} */

@media only screen and (max-width:768px) and (min-width:320px) {
    .navbar {
        padding:0.2rem 1rem !important;
    }

    .logo-img {
        width:50px;
    }

    .btn-item {
        margin:0;
    }

    .input-container {        
        padding:20px 20px 30px 20px;
    }

    .logout-btn {
        margin-top:5px;
    }

    .logout-item {
        margin: 15px 0;
    }   

    .thumbnail-image {
        width:120px;
        height:120px;
    }

    .description {
        max-height:170px;
    }

    .banner-btn,
    .lection,
    .email-btn,
    .category-btn,
    .add-btn {
        font-size:10px;
        width:68.67px;
        height:28px;
    }

    .banner-btn {
        margin-top:5px;
    }

    .banner-text,
    .lection-text {
        font-size:11px;
    }

    .nav-btn,
    .logout-btn {
        width:77px;
        height:30px;
        font-size:10px;
    }

    .nav-btn {
        margin-top:10px;
    }

    .text-muted {
        font-size:12px;
    } 

    input::placeholder,
    select::placeholder,
    textarea::placeholder {
        font-size:11px;
    }

    p, 
    a {
        font-size:11px;
    }

    strong, small {
        font-size:12px;
    }

    #emailVisitor,
    #emailOnly {
        height:28px;
    }
    
    .input-container strong, 
    .input-title strong {
        font-size:14px;
    }
    
    .input-container form {
       width:80%;
       margin-left:10%;
    }

    .banner-btn,
    .lection,
    .category-btn {
        padding:5px !important;
    }

    .card-body {
        padding:10px;
    }

    .banner-scroll {
        max-height:90px;
    }
    
    .lection-scroll {
        max-height:110px;
    }

    label {
        font-size:11px;
    }

    input, textarea, option, select {
        font-size:12px !important;
    }

    .logout-item {
        margin: 8px 0;
    }   

}

@media only screen and (max-width:575px) and (min-width:426px) {
    .my-thumbnail {
        width:365px;
        height:497px;
        margin: 15px auto;
    }
}

@media only screen and (max-width:991px) and (min-width:769px) {
    .nav-btn,
    .logout-btn {
        padding: 5px;
        font-size:14.4px;
    } 

    .nav-item:last-of-type {
        margin-bottom:10px;
    }

    .btn-item {
        margin:15px 0;
    }

    .category-btn {
        font-size:11px;
        width:72px;
        height:30px;
    }

    .number-lections, 
    .card-text {
        font-size:12px;
    } 

    h5 > strong {
        font-size:16px;
    }

    p > a {
        font-size:12px;
    }

    .text-muted > strong {
        font-size:14px;
    }

    .card-body {
        padding:10px;
    }

    .card-title {
        font-size:18px;
    }

    .lection-scroll {
        font-size:14px;
    }

    .input-title {
        font-size:16px;
    }

    .input-container {
        padding:20px 20px 30px 20px;
    }

    #emailVisitor::placeholder {
        font-size:12px;
        
    }

    .email-btn,
    #emailVisitor {
        font-size:12px;
        height:36px;
    }

    .lection,
    .banner-btn {
        font-size:12px;
        width:75px;
    }

    .input-link {
        font-size:12px;
    }
    
    .banner-btn {
        margin-top:7px;
    }

    .description {
        max-height:175px;
    }

    .thumbnail-image {
        width:150px;
        height:150px;
    }
}
