<div class="row">
    <div class="col-md-12 paragraph">
        <p>Едноставен метод за групна приоритизација или донесување одлуки. Ова не е активност сама по себе, туку метод
            што треба да се користи во процесите каде што се јавува приоритет или одлучувањето е цел. Со овој групен
            методот за брзо се гледа кои опции се најпопуларни или релевантни. Опциите или идеите се напишани на стикери
            или залепени на ѕид за цела група да ги види. Секое лице гласа за можностите за кои смета дека се
            најиздржани, а таа информација се користи за да се донесе одлука.</p>        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Овој метод често се користи кога се генерира збир на можни идеи и треба да се проценат или да се даде приоритет.</p>
        <p>Ставете ги сите идеи / опции на ѕид, една идеја на еден стикер. Отстранете ги сличните идеи или дупликати. Колку помалку опции, толку појасното и полесно ќе биде гласањето.</p>
        <p>Проверете дали сите опции на ѕидот се јасни за сите членови во групата.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Групата сега ќе гласа за опциите кои тие сметаат дека се најдобри со користење на точки, направени едноставно со маркер на стикерите. Секој член на групата добива 5 точки за да гласа (или помалку ако има помалку опции).</p>
        <p>Овие точки може да бидат дистрибуирани на било кој начин: една точка за 5 различни идеи, сите пет точки на една идеја, итн.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Откако сите членови ќе ги дистрибуираат своите точки, групата може да продолжи на различни начини:</p>
        <ul>
            <li class="game-list">Едноставно избирање на опцијата која добила најмногу точки.</li>
            <li class="game-list">Спроведување на отворен дијалог за приоритизација. Истражување кои идеи добиле повеќе точки, кои добиле помалку, кои се следните чекори.</li>
            <li class="game-list">Организирајте ги идеите на линија од најголема до најмала точка, потоа разговарајте за нив.</li>
        </ul>
        <hr>
    </div>
</div>