<div class="row">
    <div class="col-md-12 paragraph">
        <p>Оваа активност ги поддржува учесниците да размислуваат за едно прашање и да генерираат сопствени решенија
            користејќи едноставни принципи на активно слушање. Oва е одличен вовед во активното слушање, но исто така
            може да се користи со групи кои веќе се запознаени со него. Учесниците работат во групи од три и се
            претвораат во"субјект", слушател и набљудувач.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Еден моќен начин да се истражи некое прашање или проблем е да се користи активно слушање со фокус на една
            личност во исто време. За оваа вежба, тоа е она што ќе го направите.</p>
        <p>Опционално, направете листа заедно со групата "Што е добро активно слушање?" Поканете ги луѓето спонтано да
            понудат одговори и да ги напишете на флипчарт.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Користење на флипчарт, воведување на трите улоги кои поединците ќе ги преземат за време на вежбата.</p>
        <p>Субјект:
            <br>
            Улогата на субјектот е да го испита прашањето или проблемот од неговата / нејзината лична перспектива.
            Лицето во оваа улога треба да има на ум: оставање на фокусот да биде на него, водејќи се од активниот
            слушател.
        </p>
        <p> Активниот слушател:
            <br>
            Улогата на активниот слушател е да слуша со целосно присуство и фокус. Да слуша со целото тело, да биде
            љубопитен, да набљудува. Ова лице треба да има на ум: Прашување отворени прашања за да го поддржи субјектот;
            не нуди совети; слуша со целото тело.
        </p>
        <p>Набљудувачот:
            <br>
            Улогата на набљудувачот е да го набљудува процесот без да зборува. Да направи забелешки од надворешна
            перспектива, да ги гледа и слуша нештата што слушателот и субјектот не можат да ги забележат. Ова лице треба
            да има на ум: молчење низ целиот процес; забележува и фаќа белешки за она што го гледа и слуша; по
            завршувањето ги споделува набљудувањата со останатите. </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Поставете го прашањето или проблемот. Прашањето или проблемот е она што секој субјект ќе го истражува и
            размислува. Тоа би можело да биде вообичаено прашање за целата група (на пр. "Кои се најголемите препреки за
            промена во мојата работа и како можам да работам за нивно надминување?") Или секој субјект може да го
            постави своето или неговото прашање или проблем (на пр. предизвик на работното место со кој се соочувате во
            моментов.) Осигурајте се дека сите учесници разбираат што треба да истражуваат и да размислуваат.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Учесниците се организираат во групи од три. Секој учесник треба да ја има секоја улога за одреден временски
            период. Објаснете дека групите треба да обрнат внимание на времето и да се осигураат дека постојат три
            еднакви круга.</p>        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Откако учесниците ќе завршат, ќе ја разгледаат вежбата, користејќи прашања како:</p>
        <ul>
            <li>- Што се случило за време на вежбата?</li>
            <li>- Како се чувствуваше да бидеш набљудувач?</li>
            <li>- Како се чувствуваше да бидеш субјект?</li>
            <li>- Како се чувствуваше да бидеш активен слушател?</li>
            <li>- Што научив за себе?</li>
            <li>- Како можам да применам увид од оваа вежба?</li>
        </ul>
        <hr>
    </div>
</div>