<div class="row">
    <div class="col-md-12 paragraph">
        <p>Редовен и ефективен фидбек е еден од најважните состојки во градењето конструктивни односи и просперитетни
            тимови. Отвореноста создава доверба и довербата создава поголема отвореност. Вежбите за фидбек имаат за цел
            да ги поддржат групите за да се изгради доверба и отвореност и за поединците да стекнат самосвест и увид.
            Вежбите за фидбек треба секогаш да се изведуваат со внимателност и висока свесност за групната динамика. Ова
            е добра рана повратна вежба кога членовите на групата веќе имаат развиено некоја удобност и сè уште се
            запознаваат меѓусебно. Се фокусира на споделување на благодарност и љубопитност едни за други.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Работете во мал тим или организирајте поголема група во групи од 4 до 6. Групите треба да имаат барем некое
            искуство со работење заедно, како основа за давање фидбек.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Дајте ги инструкциите: "Запишете го името на лицето на кое се обраќате. Завршете ги следните две реченици за
            тоа лице. Користете ги принципите за ефективен фидбек. Потпишете се со вашето име. "</p>
        <p>"До _____: Тоа што го ценам најмногу кај тебе е ... Она што би сакал да го видам повеќе од тебе е ...
            Потпишан, _____."</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Во секоја помала група, секој учесник ги завршува горенаведените реченици со користење на стикер за секој
            учесник во групата. Откако сите учесници во групата завршат, тие ќе го доставуваат фидбекот, еден по еден,
            вербално, преку предавање на белешката до неговиот примач.</p>
        <hr>
    </div>
</div>
