<div class="row">
    <div class="col-md-12 paragraph">
        <p>Вежба за учесниците да истражат кои се нивните најважни вредности. Тоа е направено на интуитивен и брз начин
            за да ги поттикне учесниците да го следат интуитивното чувство, наместо да размислуваат и да ги најдат
            "точните" вредности. Ова е добра вежба за користење за да се иницира размислување и дијалог околу личните
            вредности.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Поделете стикери на сите учесници.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Замолете ги да ги напишат десетте работи во својот живот што најмногу ги вреднуваат, по еден на секој стикер,
            во форма на вредност. Зборови како, "пријателство", "семејство" или "чесност" - нешто што всушност го
            вреднуваат.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Кога сите имаат свои десет стикери, замолете ги учесниците да ги постават пред нив, за да можат јасно да ги
            видат и да имаат добар преглед.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Кажете им на учесниците дека сега имаат 30 секунди за да ги одберат трите стикери кои се најмалку важни за
            нив и да ги фрлат. Бидете напорни за тајмингот и не им давајте повеќе време, дури и ако тоа е потребно.
            Треба да ги користат своите чувства.</p>        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Повторете го последниот чекор, сега давајќи им 20 секунди за да фрлат уште две.</p>       
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 6</h3>
        <p>И, конечно, повторете го последниот чекор, давајќи им 20 секунди да фрлите уште две. Тие сега треба да имаат три стикери со нивните три најважни вредности.</p>        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 7</h3>
        <p>Дајте им на учесниците 15 минути за да размислуваат поединечно, потоа 30 минути во парови или групи од три за да размислуваат за следните прашања:</p>
        <p>
            <b>Што чувствувам за вредностите со кои завршив? Дали ги очекував тие?
            <br>
            Како овие вредности се покажуваат во мојот секојдневен живот?
            <br>
            Кои акции ги преземам за да живеам со овие вредности?
            <br>
            Кои акции треба да ги преземам за да живеам со овие вредности?
            <br>
            Кои акции би сакал да ги преземам за да живеам од нив?</b>
        </p>
        <p>Овие акции може да се поврзат со акционен план, користејќи ги како секојдневни активности за подобрување. </p>
        <hr>
    </div>
</div>