<div class="row">
    <div class="col-md-12 paragraph">
        <p>Цел: Индивидуалната рефлексија помага да ги одвоиме комплексните искуства, така што успесите на искуството
            може да се повторат или подобрат, а неуспесите обезбедуваат можности за учење и раст. Форматот е
            флексибилен, ве води низ клучните фази на процесот на размислување и завршува со клучните точки за акција.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Ова е индивидуална вежба. Вие го фасилитирате вашиот сопствен рефлективен процес. Прво, создадете ја
            вистинската физичка и ментална состојба за размислување. Завршете ги сите задачи кои ви создаваат притисок.
            Испратете ги сите важни пораки. Ако е можно, одете некаде каде што е тишина.</p>
        <p>Белешка за фасилитаторот:
            <br>
            Не е потребно да бидете премногу строги со овој процес. Клуч за успешно размислување е да се следи протокот
            на клучните фази на процесот и да се направи простор во вашиот живот за смиреност и фокусирана
            контемплација.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Разговор со себе: Како се чувствувам? Каков ми беше денот? Што имам на ум? Бидете присутни во моментот.
            Одлучете на какво искуство ќе се фокусирате (на пример, неодамнешно искуство, социјална интеракција,
            неодамнешен настан итн.)</p>
        <p>Што се случи за време на искуството?
            <br>
            Како се чувствував и какви беа моите реакции?</p>
        <p>Кои согледувања или заклучоци можам да ги извлечам од искуството? Што научив?
            Како можам да го применам она што го научив за да го подобрам идното искуство? Какви активности можам да
            преземам врз основа на она што го научив?
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Можеби ќе сакате да ги запишете овие работи со пенкало на хартија, без одвлекување на вниманието на
            компјутер, телефон или таблет. Можеби сакате да поставите тајминг за секое од следните прашања:</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Доколку можете, поставете крајни рокови за секое од дејствијата што ги идентификувавте за време на вашите
            рефлексии и споделете ги со колега. Вашиот колега може да ве поддржи со тоа што ќе ве држи одговорни да ги
            завршите.</p>        
        <hr>
    </div>
</div>
