<div class="row">
    <div class="col-md-12 paragraph">
        <p>Вежбите за фидбек имаат за цел да ги поддржат групите за да се изгради доверба и отвореност, за поединците да
            стекнат самосвест и увид. Вежбите за повратни информации секогаш треба да се водат со внимателности високата
            свесност за групната динамика.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Во тим или во мали групи, секое лице подготвува повратни информации за секоја друга личност, врз основа на
            следните инструкции:</p>
        <p>Тоа што го ценам за (лице) е...
            <br>
            Што би сакал да видам повеќе од (лице) е ...</p>
        <p>Белешка за фасилитаторот:
            <br>
            Ова е вежба за групи или тимови кои работеле заедно некое време и се запознаени со давање и примање фидбек.
            Еден член на тимот седи со својот грб во групата, додека други членови зборуваат за него / неа во трето
            лице.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Кога завршува, друг член седи со свртен грб во групата. Потоа, другите членови зборуваат за оваа личност во
            трето лице 90 секунди. Тие го пренесуваат својот фидбек како да не биле во просторијата. Во меѓувреме,
            предметот на фидбек пишува белешки за тоа што тој / таа го слуша. Потоа, ротирајте, и повторете го истото со
            секоја личност.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Откако секој човек ќе се сврти со неговиот / нејзиниот грб кон групата, земете неколку минути за сите да го
            разгледаат нивниот фидбек. За крај, направете круг каде секое лице изразува кои еден или два фидбеци ќе ги
            применат по вежбата.</p>
        <hr>
    </div>
</div>
