<div class="row">
    <div class="col-md-12 paragraph">
        <p>Работилница за тим кој ќе размислува за минатите конфликти и ги користи за да генерира насоки за ефикасно
            ракување со конфликти. Користете ja за да отворите дискусија.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Замолете ги учесниците да размислат за конфликти во тимот што ги искусиле. Овие можат да бидат од или надвор
            од овој тековен тим, или во рамките на компанијата.</p>
        <p>Тие треба да го направат ова поединечно, со идентификување на што поголем број значајни конфликти, враќање на
            неколку години наназад доколку е потребно. Конфликтите секој ги запишува во својот тефтер/телефон.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Преземајќи ги минатите конфликти што ги напишале, прашајте ги како поединци да го рангираат секој од 1 до 3.
        </p>
        <p>1 = конфликт со кој се справив добро.
            <br>
            2 = Конфликт со кој се справив просечно.
            <br>
            3 = конфликт со кој се справив лошо.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Побарајте од нив да размислуваат поединечно, а потоа да разговараат за нивните размислувања во парови или
            тројца на следниве прашања:</p>
        <p>Кои одговори беа најмногу критични за време на конфликтите што ги идентификував?
            <br>
            Кои однесувања и активности беа ефикасни во решавањето на конфликтите?
            <br>
            Кои однесување и активности не беа ефикасни во решавањето на конфликтите?</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Врз основа на споделувањата во малите групи, побарајте од секое лице да излезе со 2-3 насоки за ефикасно
            ракување со конфликти за кои сметаат дека групата треба да ги применува понатаму.</p>
        <p>Замолете ги сите да ги споделат своите упатства со целата група, со цел секој од групата да се договори дека
            се соодветни и ќе ги следат во иднина.
            Напишете ги упатствата и споделете ги дигитално.</p>       
        <hr>
    </div>
</div>
