<div class="row">
    <div class="col-md-12 paragraph">
        <p></p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>На почетокот на работилницата, дајте им на сите време да направат персонален тест за личност.</p>
        <p>Ви препорачуваме да користите онлајн алатка како <a
                href="https://www.16personalities.com/" target="_blank" style="text-decoration: underline; color: #0000FF;"></a>16 Personalities.</a></p>
        <p>Нагласете дека целта не е да категоризираме никого или да наметнуваме "вистини" за нашите личности, туку да
            го искористиме моделот како отскочна точка за размислување, односно начин за дискусија за различни
            мотиватори, стилови, параметри, итн. </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Прашајте ја групата како поединци да размислуваат за нивниот тип на личност.</p>
        <p>Потоа, поканете ги да го споделат со целата група она што сметаат дека е вистина, и што мислат дека не е.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Поделете ја групата во парови или тројца и од секој од нив е потребно да ја истражуваат секоја димензија на
            нивната личност подетално.Користете ги белешките од онлајн-тестот и сите други материјали за кои мислите
            дека ќе бидат корисни, за поддршка на истражувањето.</p>
        <p>Димензиите се:
            <br>
            интуиција / претчувство
            <br>
            интроверзија / екстраверзија
            <br>
            чувство / размислување
            <br>
            перцепција / судење</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>По 20-30 минути за истражување на димензиите на личноста, ги враќате сите во поголема група и ги поканувате да споделат увид од нивните дискусии.</p>
        <p>Завршете со одјавување, барајќи од сите да споделат еден увид што го запамтат од работилницата.</p>        
        <hr>
    </div>
</div>