<div class="row">
    <div class="col-md-12 paragraph">
        <p>Едноставна вежба во која секој учесник подготвува лична презентација за себе и споделува неколку важни
            искуства, настани, луѓе или приказни кои придонеле за негово или нејзино како поединец. Целта на личните
            презентации е да се поддржи секој учесник со цел да се запознаат едни со други и да градат доверба и
            отвореност во групата.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Секој учесник ја подготвува својата лична презентација за "3 работи (искуства, настани, луѓе, приказни) кои
            придонесоа за обликување на личноста која сум денес".</p>
        <p>Презентацијата треба да се визуелизира со користење на зборови и симболи на една хартија флипчарт. Дајте им
            на учесниците околу 15-20 минути за да го подготват ова.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Презентации: Секој учесник добива 3 минути (или повеќе во зависност од времето и големината на групата) за да
            ја претстави својата презентација до целата група. Поттикнете фокус и активно слушање.</p>
        <p>Белешка до фасилитаторот:
            <br>
            Многу е важно да се создаде безбеден и отворен простор бидејќи поединците ќе споделат лични приказни. Во
            некои случаи, поединците можат да споделат искуства кои генерираат емоции во себе или во рамките на групата.
            Како фасилитатор, потсетете ги учесниците дека ова е нормално и добредојдено. Ако поединците стануваат многу
            емотивни, следете ги поединечно по сесијата.</p>  
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Ако сте помала група, каде што времето не е ограничено, олеснувачите можат да поканат членови на групата да
            поставуваат прашања до секое лице веднаш по неговата / нејзината презентација.</p>
        <hr>
    </div>
</div>
