<div class="row">
    <div class="col-md-12 paragraph">
        <p>Работилница за преглед на тимските приоритети и правење избор на што треба да се фокусирате индивидуално,
            како и колективно. Работилницата ги предизвикува членовите да размислуваат каде можат да имаат најголемо
            влијание и импакт. Користете ја оваа работилница за да ги усовршите приоритетите.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Потребно е учесниците да бидат седнати во два круга: кург на влијание и круг на загриженост.
            Поделете стикери и маркери и замолете ги учесниците да запишат:</p>
        <p>Работи што влијаат на овој тим, надворешни и внатрешни.</p>
        <p>Една работа на една белешка. Дајте им време 5-10 минути.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Сега побарајте од групата да ги остават своите белешки во кругот во кој сметаат дека белешките припаѓаат.</p>
        <p>Отстранете ги оние белешки кои се слични или исти. </p>        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Иницирајте дискусија. Поканете ја групата да размисли за дискутирање на следните прашања:
            <br>
            Кои акции може да ги преземеме за да влијаеме на оние работи на кои можеме да влијаеме?
            <br>
            Како би можеле да ги преиспитаме нашите приоритети врз основа на оваа работилница?
        </p>
        <p>Акциите кои произлегуваат од оваа дискусија, закачете ги на флипчарт или запишете ги на таблата.  Секоја акција треба да има краен рок и одговорно лице.</p>
        <hr>
    </div>
</div>