<div class="row">
    <div class="col-md-12 paragraph">
        <p>Овој метод е корисен за оценување на проект во тек, за да се види дали треба да се направат корекции за тимот
            да работи поефективно заедно. Обезбедува рамка за дискусија. Учесниците се фокусираат на работите што
            помагаат или го попречуваат тимскиот процес и создаваат чекори за подобрување.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Соберете го тимот околу флипчарт или табла. Дајте им на сите пенкала и стикери.</p>
        <p>Белешка до фасилитаторот.
            Ако имате група поголема од 10, можете да ги поделите на помали подгрупи, да ја стартувате вежбата и да
            дискутирате за вежбата како целина на крајот.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Нацртајте една од следните слики на флипчарт / табла. Сите тие се слични, но ќе даваат малку поинакви
            резултати:</p>
        <p>Брод со едро и сидро. Едрото ги претставува работите кои го водат проектот напред и сидростите работи што го
            држат назад.</p>
        <ul>
            <li class="game-list">Брод со едро и сидро. Едрото ги претставува работите кои го водат проектот напред,
                сидрото работи што го држат назад.</li>
            <li class="game-list">Волан со пет делови наречен: стоп, старт, продолжи, повеќе, помалку.</li>
            <li class="game-list">Три колони наречени: лут (со луто лице); тажен (тажно лице); задоволен (среќно лице).</li>
        </ul>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Побарајте од членовите на тимот да додадат стикери на флипчартот со зборови за секоја категорија, поединечно
            и во тишина. Дајте им време колку што е потребно, но 5-10 минути треба да биде доволно.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Тие сега треба да ги групираат белешките во секоја категорија. Идентификување на дупликати, обрасци и
            преклопувања.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Откако ќе се организираат белешките, тимот може да разговара за она што се појавило. Дали нешто изненадува?
            Кои се заедничките карактеристики? Што видовме претходно? Како се чувствуваме во врска со ова? Дискутирајте
            околу 15-20 минути. Обидете се да се фокусирате на дискусијата. Осигурајте се дека членовите на тимот не се
            лизгаат во генерализирање или се обвинуваат меѓусебно. Целта е да се има ефикасна, ефективна дискусија за
            процесот до сега.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 6</h3>
        <p>Откако дискусијата ќе заврши, тимот треба да дефинира некои активности. Осигурајте се дека тие се запишани,
            споделени помеѓу тимот и релевантните засегнати страни, и им се дава рок за завршување.</p>
        <hr>
    </div>
</div>