<div class="row">
    <div class="col-md-12 paragraph">
        <p>Овој едноставен и моќен метод е корисен за откривање на јадрото на проблемот или предизвикот. Како што
            сугерира насловот, групата дефинира проблеми, а потоа го поставува прашањето "зошто" пет пати, често
            користејќи го даденото објаснување како почетна точка за креативно решавање на проблеми.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Работете како група за да креирате изјава за проблем. Ова помага да се собере групата заедно и да се фокусира
            околу специфичниот предизвик. Напишете го на врвот на хартијата / таблата / флипчартoт. Изјавата за
            проблемот треба да биде сопствена изјава, формулирана што е можно поконцизно.</p>
        <p>Пример: "Ние трошиме премногу пари во нашата канцеларија". / "Клиентите се незадоволни од квалитетот на
            нашиот најнов производ".</p>
        <p>Работете како група за да креирате изјава за проблем. Ова помага да се собере групата заедно и да се фокусира
            околу специфичниот предизвик. Напишете го на врвот на хартијата / таблата / флипчарт. Изјавата за проблемот
            треба да биде единствена изјава, формулирана како концизно можно.</p>
        <p>на пр. "Ние трошиме премногу пари во нашата германска канцеларија". / "Клиентите се незадоволни од квалитетот
            на нашиот најнов производ".</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Прашајте ја групата: Зошто го имаме овој проблем? Разговарајте за одговорот. Обидете се со уште некоја изјава
            за проблем.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Прашајте ја групата повторно: Зошто го имаме овој проблем? Повторно, дискутирајте за одговорот.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Ако групата се чувствува како да ја идентификувалa основната причина за проблемот, тогаш може да престанете
            да прашувате зошто. Ако не, тогаш продолжете со циклусот.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Откако ќе ја имате изјавата за проблемот од корен, прашајте ја групата како би сакале да продолжите да ја
            решите. Можете да користите една од методите за генерирање на идеи во алатникот за да започнете да креирате
            нови идеи за решавање на проблемот.</p>
        <hr>
    </div>
</div>