<div class="row">
    <div class="col-md-12 paragraph">
        <p>Оваа алатка им помага на малите и големите групи да ги идентификуваат клучните трансформативни трендови во
            текот на следните три години, да ги истражат нивните последици и да почнат да гледаат како можат да се
            исполнат за да создадат можности за бизнис. До крајот на работилницата, учесниците креираат листа на
            најрелевантни трендови; и разработка на три најважни трендови, вклучувајќи идеи околу тоа како нивната
            организација би можела да дејствува за да ги исполни.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Претставете ја целта на работилницата. Објаснете дека во блиска иднина ќе разговараме за трансформативните
            трендови и ќе разгледаме како нашата организација може да дејствува за да ги исполни тие трендови.</p>
        <p>Започнете со Stinky Fish вежбата од 20 минути, за поддршка на групата за безбедно споделување на грижите за
            иднината и нејзините предизвици. Целта е да се нормализира неизвесноста за иднината и да се отвори простор
            за разговор за тоа.</p>
        <p>Контекстот за Stinky Fish вежбата може да биде: "Сподели една грижа / страв за дигиталната иднина и како тоа
            ќе влијае на тебе лично или професионално".</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Сега групата заеднички ќе ги прикаже најрелевантните трендови кои ја менуваат нивната индустрија во текот на
            следните 3 години.
            Овој чекор има четири круга од 5 минути. Секој круг се фокусира на различна категорија: бизнис, корисничко
            однесување, барања за таленти и технологија. Задачата е да се размислува на колку што е можно повеќе
            релевантни трендови во секоја категорија.</p>
        <p>Дајте им на учесниците стикери и маркери. Потребно е да напишат еден тренд на еден стикер, и да го претстават
            пред групата пред да го закачат на ѕид, соодветно во некоја од 4те категории.
            Дајте им 5 минути по категорија. Вкупно 20 минути.</p>
        <p>Објаснете дека следниот чекор е брзо да се даде приоритет на трендовите во кои ќе има најголемо влијание.
            Треба да трае околу 5 минути.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Користете ја алатката Dotmocracy. Совршено е за да им се помогне на големите групи да направат брзи
            приоритизации. Користејќи лепливи точки или маркери, на секој учесник му доставуваме 8 точки (гласови) за да
            ги дистрибуирате низ трендовите што ги објавиле. Тие треба да го засноваат своето гласање за тоа кои
            трендови се чувствуваат "ќе имаат најголемо влијание врз нивниот бизнис во текот на следните 3 години"</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Целта на овој чекор е групите заеднички да ги истражуваат најважните трендови и да генерираат идеи околу
            деловните можности што би можеле да ги отворат.</p>
        <p>Поделете ја групата во помали групи од 2-4 луѓе. Секоја нова група ќе работи со еден тренд, ги истражува
            своите можности, последици, потенцијални ризици и замислува: Како ќе изгледа нашата компанија за три години
            целосно ги искористиме можностите на овој тренд? Кои чекори треба да ги преземеме денес за да почнеме да се
            движиме на тој начин?</p>
        <p>На секоја група дајте и темплејт со прашања и 15-20 минути за да го завршите. Пред да почнат да работат,
            потсетете ги учесниците дека ова е истражувачка вежба. Тие треба да работат од она што го знаат и
            чувствуваат, и да го комплетираат образецот прилично брзо.
            Откако ќе ги пополнат шаблоните, групите повторно да продолжат со презентирање еден на друг.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Зборувајте накратко за "Што направивме денес денес". Потоа поканете го секој учесник на "одјавување" со еден
            увид од денот што им дава позитивно чувство за иднината.</p>
        <p>Зборувајте накратко за "Што направивме денес денес". Потоа поканете го секој учесник на "одјавување" со еден
            увид од денот што им дава позитивно чувство за иднината.</p>
        <p>Објаснете ги следните чекори на групата. Што ќе правите со трендовите и сознанијата? Како ќе работите со нив
            како индивидуи и компании?</p>
        <hr>
    </div>
</div>