<div class="row">
    <div class="col-md-12 paragraph">
        <p>Кратка вежба за да се донесе "градењето приказна" во живот: клучен концепт во мрежните дигитални комуникации.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Објаснете ја целта на работилницата: практично да се истражи идејата за премин од раскажување приказни до
            градење приказни, суштински концепт во мрежниот дигитален свет.</p>
        <p>Денеска ќе градиме неколку приказни заедно со помош на постоечки кориснички содржини користејќи бесплатна
            веб-услуга наречена Storify.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Разговарајте со групата за видовите на приказни кои би биле интересни и соодветни за градење. Тие можат да
            бидат релевантни за работилницата, програмата или компанијата; или можат да бидат поврзани со лична страст.
        </p>
        <p>Целта не е да се создаде квалитетно парче содржина, туку да се експериментира и да се обиде да направи
            разновидна алатка.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Потребно е сите да се пријават на Storify. Тие можат да ги користат постоечките Фејсбук и Твитер профили, или
            да креираат нов на Storify.</p>
        <p>Дајте им основни упатства за да започнат:
            <br>
            Изградете ја својата приказна. Влечете елементи од социјалните медиуми, веб-страниците за вести и блоговите,
            за да бидете интересни и сеопфатни колку што можете.</p>
        <p>Бидете разиграни и се забавувајте се. Споделете ја вашата приказна со остатокот од групата пред следната
            работилница.</p>
        <hr>
    </div>
</div>
