<div class="row">
    <div class="col-md-12 paragraph">
        <p>Ова е практичен, динамичен и разноврсен метод за групи, да истражуваат идеи и прашања заедно. Нешто како
            физички прашалник; учесниците одговараат на прашања со одење околу просторот и ставајќи се на замислена
            линија. Ова обезбедува почетна точка за размислување и дискусија, и го зајакнува тимскиот дух.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Одлучете за целта и фокусот на сесијата. Можете да го направите ова со или без помош од групата.</p>
        <p>Напишете најмалку пет прашања кои центрираат околу една тема. Учесниците ќе се постават по линија во
            зависност од нивниот одговор на прашања или колку се согласуваат со изјавата. На пример, ако фокусот е на
            тоа колку добро тимот работи заедно, можеби ќе прашате:</p>
        <p>"Колку добро комуницираме како тим? 0 воопшто не комуницирате, 10 е совршено отворена и јасна комуникација. "
            "Како се чувствувам за мојата улога во тимот? 0 е многу негативно. 10 е многу позитивно. "</p>
        <p>"Дали ние произведуваме квалитетна работа? 0 воопшто не. 10 е апсолутно да ".</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Поставете ја просторијата, така што има доволно простор за сите да застанат н замислена линија. Објаснете го
            концептот на сесијата во групата, означувајќи една страна од собата како "0", а другата страна како "10".
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Прашајте го првото прашање.</p>
        <p>Давање на учесниците неколку секунди за да се организираат по должината на линијата.</p>
        <p>Направете да дискутираат за нивниот одговор на прашањето со некој во близина. Зошто се во таа ситуација? Како
            се чувствуваат во врска со тоа? Што треба да се промени?</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Одвојте време за целата група да слушне од луѓе на различни точки од линијата. Идеално е колку што имате
            време, но барем еден од секоја 0, секоја 10 и еден некаде од средината.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>Пред да ја затворите сесијата побарајте од групата да ги дефинира и запише сите клучни акции што се појавија
            преку дискусија. Треба да се назначи лице за секоја акција и краен рок за исполнување на истата.</p>        
        <hr>
    </div>
</div>