<div class="row">
    <div class="col-md-12 paragraph">
        <p>IDOARRT е едноставна алатка која ќе ви помогне да водите ефикасен состанок или групен процес со поставување
            јасна цел, структура и цели на самиот почеток. Таа има за цел да им овозможи на сите учесници да го разберат
            секој аспект од состанокот или процесот, со што се создава сигурност со заедничка основа, како за почеток.
            Акронимот се залага за намера, посакуван исход, агенда, правила, улоги и одговорности и време.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Пред состанокот / процесот, подгответе флипчарт / слајд, во кои се наведени сите точки на IDOARRT. Види
            подолу:</p>
        <p>Намера - Која е намерата или целта на состанокот? Со други зборови, зошто го имаме?</p>
        <p>Посакуван исход (и) - Кои конкретни резултати треба да се постигнат до крајот на состанокот?</p>
        <p>Агенда - Кои активности ќе поминат низ групата, во кој редослед за да се придвижите кон посакуваниот исход?
        </p>
        <p>Улоги - Кои улоги или одговорности треба да бидат поставени за да се одржи средбата без проблеми? Кој
            фасилитира, а кој учествува? Кој документира, а кој го следи времето? Што се очекува од учесниците?</p>
        <p>Правила - Кои упатства ќе бидат поставени за време на состанокот? Тие би можеле да се однесуваат на
            договорените групни норми. Тие, исто така, може да се однесуваат на употреба на лаптопи / мобилни телефони
            или практични правила поврзани со просторот. Нека учесниците додадат правила за да чувствуваат дека и тие
            имаат сопственост над нив.</p>
        <p>Време - Кое е очекуваното време за средбата, вклучувајќи ги и паузите, и во кое време ќе заврши состанокот?
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>На почетокот на состанокот, воведете го IDOARRT, поминувајќи ја точка по точка. Поканете ги учесниците да
            поставуваат прашања или да даваат предлози за промени. Откако групата е задоволна од планот, продолжете со
            остатокот од состанокот.</p>        
        <hr>
    </div>
</div>