<div class="row">
    <div class="col-md-12 paragraph">
        <p>Ова е мала стратешка сесија за планирање која им помага на групи и поединци да преземат акција кон
            посакуваните промени. Често се користи на крајот од работилницата или програмата. Групата дискутира и се
            согласува со визија, а потоа создава некои чекори за дејствување кои ќе ги водат кон таа визија. Обемот на
            предизвикот исто така е дефиниран, преку дискусија за корисни и штетни фактори кои влијаат врз групата.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Започнете: Затворете ги очите и замислете дека сте 6 месеци од сега. Замислете дека сте постигнале се што сте
            поставиле како цел. Размислете за она што сте го направиле во текот на шесте месеци. Вашата работа. Вашите
            односи со останатите. Што ве прави среќни.</p>
        <p>Дајте им на учениците пенкала и хартија. Тие сега ќе ја креираат својата визија за иднината на десната страна
            на хартијата. Ограничете ги на 4 или 5 различни теми кои ја сочинуваат оваа визија, користејќи неколку
            зборови, но колку што сакаат визуелни елементи.</p>
        <p>Ако тие се во групи, тие треба да разговараат за нивните визии и да дефинираат заедничка група визија.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Побарајте од нив да напишат најмалку 5 корисни фактори на врвот на страната, кои ќе ги поддржат за да ја
            реализираат својата визија. Тоа може да бидат луѓе, можности, технологии, ситуации, итн.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Во дното на страницата побарајте од нив да напишат најмалку 5 придружни фактори кои ќе ги поддржат за да ја
            реализираат својата визија. Повторно, ова може да бидат луѓе, можности, технологии, ситуации, итн.
        </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 4</h3>
        <p>Сега групата или поединците ќе дискутираат и ќе ги дефинираат чекорите за акција. Побарајте од нив да
            нацртаат три кутии од левата страна на хартијата до визијата на десната страна. Ова ќе бидат трите големи
            чекори што треба да ги преземат за да се постигне нивната визија.</p>
        <p>Ако работат како поединци, тогаш ги ставате во парови за да разговараат за нивните чекори. Ако веќе се во
            групи, тогаш може да разговараат за чекорите што ги прават.</p>
        <p>Тие пишуваат чекор во секоја кутија, концизно, но со толку многу детали што им се потребни за да им биде
            јасно на самите себе и на другите.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 5</h3>
        <p>За да ја затворите сесијата, отидете околу групата, барајќи од сите да ја искажат својата визија и еден (или
            сите три) чекори за акција. Прашајте го секое лице: Која е првото нешто што ќе го направите кога ќе се
            вратите во канцеларија.</p>        
        <hr>
    </div>
</div>