<div class="row">
    <div class="col-md-12 paragraph">
        <p>Целта на оваа вежба е да ги поддржи учесниците во примена на нивните согледувања и учења, со пишување на
            писмо и испраќање до нивната идна личност. Тие можат да ги дефинираат клучните дејствија кои би сакале да ги
            преземат во иднина и да ги изразат своите причини зошто е потребно да се случи таа промена. </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 1</h3>
        <p>Поделете ги пенкалата и разгледниците / хартијата за пишување. Објаснете дека секој ќе напише писмо до
            својата идна личност и дека ова ќе им помогне да ги применат своите согледувања и учења од работилницата /
            програмата.
        </p>
        <p>Кажете им дека ќе им ја испратите картичката / писмото за X број на месеци, и дека тие треба да го земат
            предвид тоа кога ги пишуваат. Можете да ја дефинирате временската рамка со групата.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 2</h3>
        <p>Напишете фокус прашање на флипчарт / таблата. Тие може да бидат дефинирани од вас, или преку дискусија со
            групата. На пример:</p>
        <p>Што ќе постигнам до X датум?
            Што ќе правам утре, следната недела, следниот месец?
            Како се чувствувам моментално за мојата работа / работно место / тим? И како сакам да се чувствувам во
            иднина?
            Сакам да се промени ... затоа што …</p>
        <p>Дајте им околу 10 минути за да ги завршат нивните картички / писма. </p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 paragraph">
        <h3>Чекор 3</h3>
        <p>Соберете ги картичките / писмата, ставете ги на безбедно место и испратете ги на договорениот датум. </p>
        <hr>
    </div>
</div>
