/* Common Styles */
.navbar-default {
  background-color: #fcd232;
  border: none;
  margin-bottom:0;  
}

.navbar-default .container-fluid {
  display: flex;
  align-items: center;
}

.navbar-header a img {
  width: 80px;
}

#navbar-collapsing-area {
  width: 100%;
}

#navbar-collapsing-area ul li a {
  font-weight: bold;
  background-color: transparent;
  padding: 0;
}

#navbar-collapsing-area form button {
  font-weight: bold;
  color: #fff;
  background-color: red;
  border: none;
}

#navbar-collapsing-area form button:hover,
#navbar-collapsing-area form button:active,
#navbar-collapsing-area form button:focus,
#navbar-collapsing-area form button:visited {
  border: none !important;
  outline: none !important;
}

.navbar-shadow{
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.12);
}

.menu-btn {
  width: 40px;
}

/* Common Desktop and Tablet Styles */
@media only screen and (min-width: 401px) {
  #navbar-collapsing-area form button {
    font-size: 14px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {  
  .navbar-header {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

  #navbar-collapsing-area {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #navbar-collapsing-area ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  #navbar-collapsing-area ul li a {
    font-size: 14px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
  }

  #navbar-collapsing-area ul li a:hover,
  #navbar-collapsing-area ul li a:active,
  #navbar-collapsing-area ul li.active a {
    color: red;
  } 

  .menu-btn {
    display: none;
  }

  .close-btn {
    display: none;
  }
}

/* Common Tablet and Mobile Styles */
@media only screen and (max-width: 960px) {
  .navbar-header {
    margin-bottom: 5px;
  }

  #navbar-collapsing-area {
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3337;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .navbar-nav {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }

  #navbar-collapsing-area ul {
    position: absolute;
    top: 100px;
    margin-top: 30px;
  }

  #navbar-collapsing-area ul,
  #navbar-collapsing-area ul li {
    width: 100%;
  }

  #navbar-collapsing-area ul li a {
    color: #fff;
    padding-left: 15px;
    padding-bottom: 25px;
  }

  .navbar-form {
    padding-top: 0 !important;
  }

  #navbar-collapsing-area form {
    position: absolute;
    top: 265px;
    width: 100%;
    margin: 0;
    box-shadow: none;
    border: none;
  }

  .menu-btn {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .close-btn,
  .close-btn:hover,
  .close-btn:active,
  .close-btn:visited,
  .close-btn:focus {
    color: #fff;
    text-decoration: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #navbar-collapsing-area ul li a {
    font-size: 16px;
  }

  .close-btn {
    font-size: 40px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  #navbar-collapsing-area ul li a {
    font-size: 13px;
  }

  #navbar-collapsing-area form button {
    font-size: 12px;
  }

  .close-btn {
    font-size: 28px;
  }
}