body, html {
  height: 100%;
}

body {
  background-color: #fcd232;
}

@media only screen and (max-width: 767px) {
  .cards-container {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .cards-container {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .cards-container {
    padding-top: 280px;
  }

  .bordered-sides { 
    border-bottom: 1px solid #494850;
    border-top: 1px solid #494850;
    border-left: none;
    border-right: none;
  }
}

@media only screen and (min-width: 992px) {
  .cards-container {
    padding-top: 120px;;
  }
}

/*main page css--------------------------------------------------*/
.big-picture {
  background-image: url("../images/test-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 70vh;  
}

.big-text {
  display: flex;
  font-weight: bold;
  font-size: 48px;
  justify-content: center;
  align-items: center; 
  height: 70vh;
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.glyphicon-ok-sign {
  display: none;
}

/* projects-nav css --------------------------------------------*/
.project-nav-element {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  background-color: #302f38;
  color: white;
  text-decoration: none;
  min-height: 80px;
}

.glyphicon-ok-sign {
  font-size: 24px;
}

.bordered-sides {
  border-left: 1px solid #494850;
  border-right: 1px solid #494850;
}

.project-nav-element:hover,
.project-nav-element.active {
  cursor: pointer;
  background-color: #eb3b3b;
  color: #302f38;
  text-decoration: none;
}

/*cards css------------------------------------------------ */
.cards-container {
  margin: 0 auto;
  padding-bottom: 180px;
}

.cards-container h2 {
  padding-bottom: 30px;
}

.cards-container h3 {
  margin: 0;
}

.cards-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnail-img-container {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  display: content;
  justify-content: center;
  align-items: center;
}

.cards-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.thumbnail {
  padding: 0;
  border-radius: 10px;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.card-button-down {
  margin-top: 25px;
}

.card-button-up {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-button-up,
.card-button-up:hover,
.card-button-up:active,
.card-button-up:visited,
.card-button-up:focus {
  background-color: #fcd232 !important; 
  color: #000 !important;
  border: none !important;
  outline: none !important;
}

.card-button-down,
.card-button-down:hover,
.card-button-down:active,
.card-button-down:visited,
.card-button-down:focus {
  background-color: red !important;
  border: none !important;
  outline: none !important;
  padding: 10px 25px 10px 25px;
}

.more-less {
  padding-top: 30px;
}

.show-more,
.show-less {
  display: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: red;
  line-height: 0em;
}

.show-more .glyphicon,
.show-less .glyphicon {
  font-size: 30px;
}

/*form css-------------------------------------------------- */
.form-container {
  min-height: 100%;
}

#contact-from {
  overflow: auto;
  padding-bottom: 40px;
}

.form-title {
  padding: 47.8px 0;
  font-weight: bold;
}

.form-control {
  font-weight: bold;  
}

.form {
 padding-bottom: 60px;
}

.placeholder-text {
  font-style: italic;
}

.btn-red {
  background-color: red;
  color: white;
  border: none;
}

#input1,
#input2,
#input3,
#input4,
#nput5,
#input6,
.select {
  min-height: 50.5px;
}

label {
  padding: 5px;
}

.footer {
  position: relative;
  margin-top: -40px;
  height: 40px;
  clear: both;
  padding-top: 20px;
}

.footer-form {
  background-color: black;
  color: white;
  padding: 5px;
}

.footer-form p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.glyphicon-heart {
  color: red;
}

.option {
  font-size: 15px;
}

.form-container input,
.form-container button,
.form-container select {
  border: none !important;
}

.form-container input:focus,
.form-container button:focus,
.form-container select:focus {
  border-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.form-error-container {
  padding-top: 20px;
}

.form-error {
  font-size: 18px;
}

.form-success-msg {
  color: green;
}

.form-error-msg {
  color: red;
}
