body {
    margin:0;
    padding:0;
}

.main-content {
    min-height:77.3vh;
    padding:40px 0;
}

.dashboard {
   margin-bottom: 50px;
}

.buttons {
    padding: 20px 0;
    margin-bottom:15px;
}

.remove,
.edit {
    display:inline-block;
}

.insurance-title {
    margin-bottom:50px;
}

a:focus,
button:focus,
a:visited,
button:visited {
    box-shadow:none !important;
}

#model-alert,
#brand-alert,
#plate-alert,
#insurance-alert {
    padding:10px 0;
}