body {
    padding-top:60px;
}

* {
    box-sizing:border-box;
}

.title {
    margin-bottom:50px;
}

.card {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightblue;
    border:4px solid black;
    border-radius:20px;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,1);
    height:160px;
    margin:10px;
    text-align:center;
    
}

.card:hover {
    cursor:pointer;
    border:4px solid red;
}

.card p {
    font-size:36px;
}

.flex {
    justify-content:center;
    align-items:center;
}

#button {
    display:none;
}