body {
  background: #f5f5f5f5;
  color: #333333;
}
.budget-feedback,
.expense-feedback,
#myTable {
  display: none;
}

.budget-form {
  border: 0.15rem solid #317b22;
  padding: 1rem;
  border-radius: 0.25rem;
}
.expense-form {
  border: 0.15rem solid #b80c09;
  padding: 1rem;
  border-radius: 0.25rem;
}
.budget-submit {
  background: transparent;
  border: 0.1rem solid #317b22;
  color: #317b22;
}
.expense-submit {
  background: transparent;
  border: 0.1rem solid #b80c09;
  color: #b80c09;
}
.expense-submit:hover {
  background: #b80c09;
  color: #f5f5f5f5;
}
.budget-submit:hover {
  background: #317b22;
  color: #333333;
}

.budget-input {
  border: 0.05rem solid #317b22 !important;
}
.expense-input {
  border: 0.05rem solid #b80c09 !important;
}
.expense-amount,
.expense-title {
  color: #b80c09;
}
.edit-icon {
  color: #05668d;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none !important;
  padding-right:5px;
  margin-right:10px;
}
.delete-icon {
  color: #b80c09;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none !important;
}
.edit-icon:hover {
  color: #05668d;
}
.delete-icon:hover {
  color: #b80c09;
}
.showItem {
  display: block;
}
.info-title {
  font-size: 1.5rem;
}
.budget {
  font-size: 1.6rem;
  color: #317b22;
}
.expense {
  font-size: 1.6rem;
  color: #b80c09;
}
.balance {
  font-size: 1.6rem;
}
.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 2.5rem;
  color: #05668d;
}
.showRed {
  color: #b80c09;
}
.showGreen {
  color: #317b22;
}
.showBlack {
  color: #333333;
}
#myTable th {
  text-align: left;
}
#myTable td {
  text-align: left;  
}


@media screen and (min-width: 992px) {
  .budget {
    font-size: 2.6rem;
    color: #317b22;
  }
  .expense {
    font-size: 2.6rem;
    color: #b80c09;
  }
  .balance {
    font-size: 2.6rem;
  }
  .budget-icon,
  .expense-icon,
  .balance-icon {
    font-size: 3.5rem;
    color: #05668d;
  }
}
.list-item {
  flex: 0 0 33.33%;
  text-align: center;
}
.expense-item {
  height: 2rem;
}