footer {
    margin-top:45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    opacity:0.9;
}

footer > .footer-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}