.navigator {
    min-height:90px;
    opacity: 0.9;
}

.navigator-container {
    display:flex;
    align-items: center;
}

button {
    height: 38px;
}

.custom-nav-text {
    padding-right: 0.6rem;
}

.nav-custom-toggle,
.nav-custom-toggle:focus {
    border:none !important;
    outline: none !important;
}

.nav-link-active,
a.nav-link.active {
    border-radius: 25px;
    border-right:1px solid red;
    border-left:1px solid red;
    font-weight: 500;
}

.custom-nav-dropdown {
    width:160px;
}

.custom-nav-item {
    font-size: 14px;
}

.custom-nav-item:focus,
.custom-nav-item:hover {
    background-color: #e9ecef;
    color: #000;
}

.searchbar {
    max-width: 315px;
}

.collapse-container {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.searchbar {
    position: relative;
}

.form-input {
    padding-left: 40px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.login-btn {
    margin-left: 0.6rem;
}

@media(max-width:992px) {
    .brand-toggle-container {
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .searchbar-container {
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    
    .nav-link-active,
    a.nav-link.active {
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-left: 1px solid red;
        border-right: none;
        padding-left: 5px;
    }

    .login-btn {
        margin: 0;
    }
}